/* Home layout styles: header, sidebar, and main content area */
.home-layout {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  gap: 0;
  width: 100%;
  box-sizing: border-box;
}

.main-content {
  /*  background-image: url("../../../assets/background-img2.png");*/
  background-size: cover;
  min-height: calc(100vh - 70px); /* ensure it fills the viewport minus navbar height */
  overflow-y: auto; /* scroll if content too tall */
  box-sizing: border-box;
}

.separator {
  width: 100%;
  border: none;
  border-top: 1px solid #b4b4b4;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .home-layout {
  }
}
