@media (max-width: 768px) {
    .card-container {
        width: 80%;
        padding: 25px;
        margin: 20px auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        width: 80%;
        padding: 25px;
        margin: 18px auto;
    }
}