.navbar-container {
  background: linear-gradient(135deg, #05058c 0%, #2b39cf 100%);
}

.nav-links a:hover {
  color: #ffc400; /* Coral color on hover */
  transition: color 0.3s ease;
}

.dropdown {
    width: 80vw;
    margin: 1.7rem auto ;
    color: black;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
}