.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    overflow: hidden;
}

.testimonial-header {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 15px auto;
}

.testimonial-description {
    width: 60%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 30px;
}

.testimonial-scroller {
    display: flex;
    flex-direction: row;
    animation: scroll 15s linear infinite;
}

.testimonial-container:hover .testimonial-scroller {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

.story-card {
    width: 320px;
    height: 300px;
    text-align: start;
    color: white;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.story-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: opacity 0.5s ease-in-out; /* Fading animation */
    z-index: 0;
}

.story-card:hover::before {
    opacity: 0;
}

.top-half, .bottom-half {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    z-index: 1;
}

.top-half {
    justify-content: start;
}

.bottom-half {
    justify-content: end;
}

.card1 {
    background-image: url('../../../../assets/images/tromba.jpg');
}

.card1::before {
    background: linear-gradient(to bottom,
    rgba(25, 1, 54, 1),
    rgba(47, 8, 93, 0.7),
    rgba(152, 61, 206, 0.3),
    rgba(47, 8, 93, 0.7),
    rgba(25, 1, 54, 1)
    );
    opacity: 1;
}

.card2 {
    background-image: url('../../../../assets/images/putin.jpg');
}

.card2::before {
    background: linear-gradient(to bottom,
    rgba(3, 8, 59, 1),
    rgba(11, 18, 94, 0.7),
    rgba(58, 77, 203, 0.5),
    rgba(11, 18, 94, 0.7),
    rgba(3, 8, 59, 1)
    );
    opacity: 1;
}

.card3 {
    background: linear-gradient(135deg, rgb(5, 80, 68, 1), rgb(23, 122, 105));
}

.card3::before {
    background: linear-gradient(135deg, rgb(5, 80, 68, 1), rgb(16, 107, 91));
    opacity: 1;
}

.card4 {
    background-image: url('../../../../assets/images/tromba.jpg');
}

.card4::before {
    background: linear-gradient(to bottom,
    rgb(3, 8, 59, 1),
    rgba(58, 77, 203, 0.5),
    rgb(3, 8, 59, 1)
    );
    opacity: 1;
}

.story-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.story-card h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 8px;
    transition: transform 0.5s ease-in-out;
}

.story-card p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    transition: transform 0.5s ease-in-out;
}

.story-card:hover p {
    transform: translateY(-5px);
}

.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines you want */
    overflow: hidden;
    text-overflow: ellipsis;
}

.story-card:hover h3 {
    transform: translateY(-5px); /* Gently push text up */
}

.story-card .case-study-link {
    font-size: 15px;
    color: inherit;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.7s ease-in-out, max-height 0.7s ease-in-out;
}

.story-card:hover .case-study-link {
    opacity: 1;
    max-height: 50px;
}

.story-card .case-study-link:hover {
    text-decoration: underline;
}

@media (max-width: 420px) {
    .testimonial-header{
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.45rem;
    }

    .testimonial-description{
        width: 70%;
        font-size: 0.45rem;
        line-height: 0.75rem;
    }

    .story-card {
        width: 150px;
        height: 200px;
        background-size: contain;
    }

    .story-card h3 {
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 6px;
    }

    .story-card p {
        font-size: 6px;
        font-weight: 500;
    }

    .story-card .case-study-link {
        font-size: 8px;
    }
}

@media (min-width: 421px) and (max-width: 640px) {
    .testimonial-container {
        flex-direction: column;
        gap: 8px;
        overflow-x: visible;
    }

    .testimonial-header{
        margin: 0 auto;
        font-size: 1.25rem;
        line-height: 1.45rem;
    }

    .testimonial-description{
        width: 70%;
        font-size: 0.5rem;
        line-height: 1.125rem;
    }

    .story-card {
        width: 170px;
        height: 250px;
        background-size: contain;
    }

    .story-card h3 {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 6px;
    }

    .story-card p {
        font-size: 10px;
        font-weight: 500;
    }

    .story-card .case-study-link {
        font-size: 11px;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .testimonial-container {
        flex-direction: column;
        overflow-x: visible;
    }

    .testimonial-header{
        margin: 0 auto;
        font-size: 1.6rem;
    }

    .testimonial-description{
        width: 70%;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    .testimonial-scroller {
        animation: scroll 40s linear infinite;
    }

    .story-card {
        width: 250px;
        height: 250px;
    }

    .story-card h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .story-card p {
        font-size: 12px;
        font-weight: 500;
    }

    .story-card .case-study-link {
        font-size: 14px;
    }
}